<div class="hj-modern-software">
    <div class="hj-intro mat-app-background">
        <div class="hj-container">
            <h1 class="mat-display-2">Modern Software for a Modern Web</h1>

            <div class="hj-page-desc">
                <p>
                    So you've landed here, wondering... What exactly is "Modern Software" these days? Well, for a frontend developer, the
                    answer would be whatever new JavaScript framework was released in the past hour. For a backend developer, it's probably
                    still just Java. Database? Lets not go down that rabbit hole.
                </p>

                <p>
                    Here at Hjönk we apply Modern Software Solutions with one simple motto: <s>React sucks.</s> Use the right tool for the job.
                    You wouldn't use a spoon to clean your drains, a hammer to screw in a lightbulb, or a legit cable subscription to watch TV.
                    The same thing applies to software, which is why we're here to help you wade through the seemingly endless stream of
                    different technologies to determine what's right for your needs. Then we'll code it up so quick your head will spin off
                    your damn shoulders.
                </p>
            </div>
        </div>
    </div>

    <div class="hj-tech">

    </div>
</div>
