<div class="hj-modern-software">
    <div class="hj-intro mat-app-background">
        <div class="hj-container">
            <h1 class="mat-display-2">Modern Software for a Modern Web</h1>

            <div class="hj-page-desc">
                <p>
                    So you've landed here, wondering... What exactly is "Modern Software" these days? Well, for a frontend developer, the
                    answer would be whatever new JavaScript framework was released in the past hour. For a backend developer, it's probably
                    still just Java. Database? Lets not go down that rabbit hole.
                </p>

                <p>
                    Here at Hjönk we apply Modern Software Solutions with one simple motto: <s>React sucks.</s> Use the right tool for the job.
                    You wouldn't use a spoon to clean your drains, a hammer to screw in a lightbulb, or a legit cable subscription to watch TV.
                    The same thing applies to software, which is why we're here to help you wade through the seemingly endless stream of
                    different technologies to determine what's right for your needs. Then we'll code it up so quick your head will spin off
                    your damn shoulders.
                </p>
            </div>
        </div>
    </div>

    <div class="hj-tech">
        <div class="hj-container">
            <section>
                <img src="assets/img/tech/angular.svg" alt="Angular" />

                <div class="hj-right">
                    <h2 class="mat-title">Angular</h2>
                    <div>Frontend development using modern Angular 8 and 9.</div>
                </div>
            </section>

            <section>
                <img src="assets/img/tech/react.svg" alt="React" />

                <div class="hj-right">
                    <h2 class="mat-title">React</h2>
                    <div>Reactive web views using the latest and greatest version of React.</div>
                </div>
            </section>

            <section>
                <img src="assets/img/tech/vue.svg" alt="Vue.js" />

                <div class="hj-right">
                    <h2 class="mat-title">Vue.js</h2>
                    <div>Web components utilizing the lightweight Vue.js library.</div>
                </div>
            </section>

            <section>
                <img src="assets/img/tech/springboot.svg" alt="Spring Boot" />

                <div class="hj-right">
                    <h2 class="mat-title">Spring Boot</h2>
                    <div>Dynamic REST services with Java and Spring Boot.</div>
                </div>
            </section>

            <section>
                <img src="assets/img/tech/nodejs.svg" alt="ExpressJS" />

                <div class="hj-right">
                    <h2 class="mat-title">ExpressJS</h2>
                    <div>Scalable and expressive REST services utilizing ExpressJS.</div>
                </div>
            </section>

            <section>
                <img src="assets/img/tech/nestjs.svg" alt="NestJS" />

                <div class="hj-right">
                    <h2 class="mat-title">NestJS</h2>
                    <div>Combining Angular with NestJS for a component-based UI &amp; REST application.</div>
                </div>
            </section>
        </div>
    </div>
</div>
