.hj-modern-software {
    .hj-intro {
        padding: 64px 0;

        h1 {
            margin-bottom: 32px;
        }

        .hj-page-desc {
            font-size: 18px;
        }
    }

    .hj-tech {
        padding: 64px 0;
    }
}
