<div class="hj-contact">
    <div class="hj-container">
        <h1 class="mat-display-3">Contact Hjönk</h1>
        <h2 class="mat-title">Yeah, you've made the right choice.</h2>

        <div class="hj-honk-at-us">
            <p>Wanna hire us to write some badass software? Make those competitors piss their damn pants over how much
                new business you're getting with your shiny new website? Have your shop improved to lure in more strange
                basement dwellers to throw away what little money they have on used bath water?</p>
            <p>Hell yes you do. So what are you waiting for? Shoot us an email at <a href="mailto:honk@hjonk.net">honk@hjonk.net</a> today!</p>
        </div>
    </div>
</div>
