<div class="hj-home">
    <div class="hj-home-top">
        <div class="hj-home-top-inner">
            <div class="hj-container">
                <div class="hj-drop-a-beat">
                    <h1 class="mat-display-1"><span>Honk honk, mother fuckers.</span>
                        <img src="assets/goose.svg" alt="Hjönk" /></h1>
                    <h2 classs="mat-title">Are you ready for the most kickass software experience of your entire life?</h2>
                    <div class="hj-subtext">Of course you aren't, but we're going to deliver it to you anyways.
                        Saddle up for the biggest modern software single of the whole damn year, until we move on to our next
                        client and drop another kick ass beat that'll blow their god damn minds just like yours.</div>
                    <button mat-raised-button color="primary" routerLink="/modern-software">Learn More About Our Modern Software Services</button>
                </div>

                <img src="assets/goose.svg" alt="Hjönk" (click)="honk()"/>
            </div>
        </div>
    </div>

    <div class="hj-home-middle mat-app-background">
        <div class="hj-container">
            <section>
                <header>
                    <mat-icon>cloud_upload</mat-icon>
                    <span>Building Modern Software</span>
                </header>

                <div class="hj-desc">
                    We build the most modern software you've ever seen in your entire life.
                    We got Angular, we got React, Vue, Spring Boot, MongoDB, AWS, GCP. You name it, we rock it.
                    Frontend, backend, DevOPS, mobile, we take it all ways.
                </div>
            </section>

            <section>
                <header>
                    <mat-icon>accessibility_new</mat-icon>
                    <span>Human Focused Design</span>
                </header>

                <div class="hj-desc">
                    Our Human Focused Design (HFD) approach to design means that we work with people to find out
                    what they need and deliver the best damn solution their brains can handle*.

                    <div class="hj-smol">*We are not responsible for damage caused by minds blown from our brilliant design work.</div>
                </div>
            </section>

            <section>
                <header>
                    <mat-icon>people</mat-icon>
                    <span>True Consulting</span>
                </header>

                <div class="hj-desc">
                    We work <i>with</i> our clients, not just <i>for</i> them. Hjönk developers aren't staff aug or code monkeys -
                    we're here to consult you on how best to move forward with your modern software ventures and then make it a reality.
                </div>
            </section>

            <section>
                <header>
                    <mat-icon>code</mat-icon>
                    <span>Innovation</span>
                </header>

                <div class="hj-desc">
                    We push out the most innovate solutions. Every single time. Our shit's the most innovative thing since the
                    damn light bulb, you better believe it. If you aren't 100% satisfied, you can pay us more money to make it right.
                </div>
            </section>

            <section>
                <header>
                    <mat-icon>business_center</mat-icon>
                    <span>Business Relationships</span>
                </header>

                <div class="hj-desc">
                    Each and every client of ours gets our undivided attention, unless of course the Cardinals game is on.
                    That's because every client is our favorite client, the one we go above and beyond for without question.
                    Unless we have questions.
                </div>
            </section>

            <section>
                <header>
                    <mat-icon>sentiment_satisfied_alt</mat-icon>
                    <span>Our Culture</span>
                </header>

                <div class="hj-desc">
                    Here at Hjönk we are all about culture, not that fake bullshit that companies shove down their employees
                    throats and wash down with a single-beer-ticket happy hour after work hours. Grab a beer and get to coding!
                </div>
            </section>
        </div>
    </div>

    <div class="hj-home-bottom">
        <div class="hj-home-bottom-bg"></div>

        <div class="hj-container">
            <h1 class="mat-display-3">Testimonials</h1>

            <section>
                <img src="assets/imagoose.png" alt="Yep it's a goose" />

                <div class="hj-quote">
                    <div class="hj-quote-text">
                        <div>
                            Being the CEO of Geese Ltd. is a real challenge. I've got to coordinate and move geese all across the entire planet
                            on a daily basis. With tight deadlines and schedules all around, I've little time to focus about our web presence.
                            That's why I turned to Hjönk, who helped guide our company into the modern age of web software with a level of
                            professional consulting I've never before seen with any vendor. Together we delivered a new pilot web application
                            for Geese Ltd. and boosted our efficiency and sales by a thousand-fold.
                        </div>

                        <mat-icon>format_quote</mat-icon>
                    </div>

                    <div class="hj-name">
                        - Goose, CEO of Geese Ltd.
                    </div>
                </div>
            </section>

            <mat-divider></mat-divider>

            <section>
                <img src="assets/doge.png" alt="Doge Approved" />

                <div class="hj-quote">
                    <div class="hj-quote-text">
                        <div>
                            Working with Hjönk is hands down the best choice if you're looking to modernize your company's website. They really
                            stepped up and took charge, leading us to dominate the market with our slick new website made utilizing their
                            comprehensive Human Focused Design approach. Now I can sit back and chew on my bone with peace of mind.
                        </div>

                        <mat-icon>format_quote</mat-icon>
                    </div>

                    <div class="hj-name">
                        - Doge
                    </div>
                </div>
            </section>

            <mat-divider></mat-divider>

            <section>
                <img src="assets/rekt.jpg" alt="Mr. Rekt" />

                <div class="hj-quote">
                    <div class="hj-quote-text">
                        <div>Thoroughly pleased by this.</div>
                        <mat-icon>format_quote</mat-icon>
                    </div>

                    <div class="hj-name">
                        - rekt
                    </div>
                </div>

            </section>

            <mat-divider></mat-divider>

            <section>
                <img src="assets/clown.png" alt="Scandinavian Clown" />

                <div class="hj-quote">
                    <div class="hj-quote-text">
                        <div>Hjönk</div>
                        <mat-icon>format_quote</mat-icon>
                    </div>

                    <div class="hj-name">
                        - Scandinavian Clown
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
