.hj-home {
    .hj-home-top {
        background-color: #424242;

        .hj-home-top-inner {
            background-image: url(../../../assets/transparent-square-tiles.png);

            .hj-container {
                padding: 100px 0;
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 800px) {
                    padding: 64px 0;
                }

                @media screen and (max-width: 600px) {
                    padding: 48px 0 64px;
                }
            }

            .hj-drop-a-beat {
                width: 50%;
                padding-top: 64px;

                @media screen and (max-width: 1000px) {
                    padding-top: 48px;
                }

                @media screen and (max-width: 900px) {
                    padding-top: 0;
                    width: 60%;
                }

                @media screen and (max-width: 800px) {
                    width: 70%;
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                }

                h1 {
                    margin-bottom: 8px;

                    img {
                        display: none;
                    }

                    @media screen and (max-width: 600px) {
                        display: flex;

                        img {
                            display: block;
                            height: 80px;
                        }
                    }

                    @media screen and (max-width: 370px) {
                        font-size: 30px;
                    }
                }

                button {
                    margin-top: 32px;

                    @media screen and (max-width: 375px) {
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            img {
                display: block;
                width: 30%;
                transform: scaleX(-1);

                @media screen and (max-width: 800px) {
                    width: 28%;
                }

                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }

    .hj-home-middle .hj-container {
        display: flex;
        flex-wrap: wrap;
        padding: 64px 0;

        section {
            width: calc(100% / 3);
            box-sizing: border-box;
            padding: 0 16px 32px;

            @media screen and (max-width: 800px) {
                width: 50%;
            }

            @media screen and (max-width: 600px) {
                width: 100%;
            }

            header {
                display: flex;
                align-items: center;

                $size: 50px;

                .mat-icon {
                    width: $size;
                    height: $size;
                    font-size: $size;
                    margin-right: 16px;
                }

                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .hj-desc {
                margin-top: 8px;

                .hj-smol {
                    font-size: 10px;
                    line-height: 11px;
                    margin-top: 6px;
                }
            }
        }
    }

    .hj-home-bottom {
        background-color: #424242;
        position: relative;

        .hj-home-bottom-bg {
            background-image: url(../../../assets/geese.jpg);
            background-size: cover;
            background-position: center center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.1;
            z-index: 1;
        }

        .hj-container {
            padding: 64px 0;
            position: relative;
            z-index: 2;

            @media screen and (max-width: 900px) {
                h1 {
                    font-size: 48px;
                }
            }

            @media screen and (max-width: 600px) {
                h1 {
                    font-size: 42px;
                }
            }
        }

        section {
            display: flex;
            font-size: 18px;
            font-style: italic;
            align-items: flex-start;

            img {
                display: block;
                width: 10%;
                flex-shrink: 0;
                margin-right: 32px;
            }

            .hj-quote, .mat-icon {
                color: #eee;
            }

            .hj-quote {
                .hj-quote-text {
                    display: flex;
                    align-items: flex-start;

                    .mat-icon {
                        $size: 64px;
                        width: $size;
                        height: $size;
                        font-size: $size;
                        margin-left: 16px;
                        margin-top: -24px;
                    }
                }

                .hj-name {
                    margin-top: 16px;
                    color: #ccc;
                    font-size: 20px;
                }
            }

            @media screen and (max-width: 900px) {
                font-size: 16px;

                .hj-quote {
                    .hj-name {
                        font-size: 18px;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                font-size: 14px;

                img {
                    width: 15%;
                    margin-right: 16px;
                }

                .hj-quote {
                    .hj-quote-text {
                        .mat-icon {
                            $size: 48px;
                            width: $size;
                            height: $size;
                            font-size: $size;
                            margin-left: 8px;
                            margin-top: -16px;
                        }
                    }

                    .hj-name {
                        font-size: 16px;
                    }
                }
            }

            @media screen and (max-width: 450px) {
                img {
                    width: 20%;
                    margin-right: 12px;
                }

                .hj-quote {
                    .hj-quote-text {
                        .mat-icon {
                            display: none;
                        }
                    }
                }
            }
        }

        .mat-divider {
            margin: 32px 0;
        }
    }
}
