@import '../theme';

.hj-app {
    .mat-toolbar {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 10;

        .hj-menu {
            margin-right: 8px;
            display: none;
        }

        img {
            display: block;
            height: 80%;
        }

        .hj-spacer {
            flex: 1 1 auto;
        }

        @media screen and (max-width: 650px) {
            .hj-menu {
                display: block;
            }

            button:not(.hj-menu) {
                display: none;
            }
        }
    }

    .mat-sidenav {
        width: 300px;
        padding-top: 8px + 64px;
        box-sizing: border-box;

        @media screen and (max-width: 599px) {
            padding-top: 8px + 56px;
        }

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            width: calc(100% - 16px);
            padding: 8px;
            margin: 8px;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
            transition: 0.2s;
            box-sizing: border-box;
            font-weight: 500;

            .mat-icon {
                margin-right: 20px;
            }

            &:hover {
                background: mat-color($primary, 800);
            }
        }
    }

    main {
        background-color: #424242;
    }

    footer {
        .hj-container {
            padding: 48px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .hj-copyright {
                font-size: 12px;
                opacity: 0.5;
                flex: 1 1 auto;
            }

            button {
                font-size: 12px;
                padding-left: 6px;
                padding-right: 6px;
            }

            @media screen and (max-width: 650px) {
                display: block;
                text-align: center;

                nav {
                    margin-top: 8px;
                }
            }
        }
    }
}
