@import 'theme';

@include mat-core();
@include angular-material-theme($theme);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hj-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 900px) {
        width: 90%;
    }
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(48, 48, 48, 0.7);
    color: #303030;
}
