@import 'theme';

@include mat-core();
@include angular-material-theme($theme);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hj-container {
    width: 1200px;
    margin: 0 auto;
}
